@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  scroll-behavior: smooth;
}

.effect-red {
  @apply border-2 border-red-500 text-red-600;
  box-sizing: border-box;
}

.effect-orange {
  @apply border-2 border-orange-500 text-orange-600;
  box-sizing: border-box;
}

.effect-yellow {
  @apply border-2 border-yellow-800 text-yellow-900;
  box-sizing: border-box;
}

.effect-green {
  @apply border-2 border-green-700 text-green-700;
  box-sizing: border-box;
}

.effect-blue {
  @apply border-2 border-blue-700 text-blue-700;
  box-sizing: border-box;
}

.effect-purple {
  @apply border-2 border-purple-500 text-purple-500;
  box-sizing: border-box;
}

.effect-black {
  @apply border-2 border-black text-black;
  box-sizing: border-box;
}





.effect-icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0px solid; /* Color will be set by effect-specific class */
}

.effect-key-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1s;
    border: 3px solid;
    box-shadow: 1px 1px 2px black;
}

.effect-name {
  border:0;
  font-weight: 500;
  font-size:14px;
  letter-spacing: 1.05px;
  @apply text-gray-200 mt-1

}



tr::after {
  content: "";
  display: block;
  height: 4px; /* Adjust this value for desired spacing */
  background-color: transparent;
}

.selected {
  transform: scale(0.95);
  transition: transform 0.3s ease; /* Optional: for smooth scaling */
  border-sizing: 4px
}

select {
  font-family: 'FontAwesome', 'sans-serif';
}



.three-by-three {
  background: rgba(200,200,200,.52);
  border: 2px solid transparent;
}

.three-by-three:hover {
  border:2px solid white;
  background: rgba(170,170,170,.72);
}


/* Target every 3rd three-by-three for Y */
.three-by-three:nth-child(odd){
  background: rgba(42,42,42,.52); /* Replace with the desired background for Y */
}

.three-by-three:nth-child(odd):hover {
  background: rgba(42,42,42,.72); /* Replace with the desired background for Y */
}

.icon-for-shadows {filter:drop-shadow(1px 1px 1px black)}

/* CSS for the colors of different fertilizer types */
.fertilizer-blue{
  color: blue; /* You can replace this with any shade of blue you prefer, in hex, rgba, or other color formats */
}

.fertilizer-orange  {
  color: orange; /* You can replace this with any shade of orange you prefer */
}

.fertilizer-red . {
  color: red; /* You can replace this with any shade of red you prefer */
}

.fertilizer-purple  {
  color: purple; /* You can replace this with any shade of purple you prefer */
}

.fertilizer-green {
  color: green; /* You can replace this with any shade of green you prefer */
}

.fertilizer-star-class {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  filter:drop-shadow(1px 1px 1px black)

}