@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth;
}

.effect-red {
  border: 2px solid red;
  box-sizing: border-box;
}

.effect-orange {
  border: 2px solid orange;
  box-sizing: border-box;
}

.effect-yellow {
  border: 2px solid yellow;
  box-sizing: border-box;
}

.effect-green {
  border: 2px solid green;
  box-sizing: border-box;
}

.effect-blue {
  border: 2px solid blue;
  box-sizing: border-box;
}

.effect-purple {
  border: 2px solid purple;
  box-sizing: border-box;
}

.effect-black {
  border: 2px solid black;
  box-sizing: border-box;
}

tr::after {
  content: "";
  display: block;
  height: 4px; /* Adjust this value for desired spacing */
  background-color: transparent;
}

.selected {
  transform: scale(0.95);
  transition: transform 0.3s ease; /* Optional: for smooth scaling */
  border-sizing: 4px
}

select {
  font-family: 'FontAwesome', 'sans-serif';
}

